<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Workshop #2</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><b>CODE42DAY</b></h1>
      </div>
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <div class="panel-group" id="submit-accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#submit-accordion" href="#accordion-one">
                      What is CODE42DAY ???
                  </a>
                </h4>
              </div>
              <div id="accordion-one" class="panel-collapse collapse in">
                <div class="panel-body">
                    CODE42DAY is a development side coding challenge. It is platform and programming language independent.
                    Yes, you can code in any language you are confortable and work for any platform(Windows/Linux/Android
                    /IOS). It will begin around January and will test you in different aspect of it.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#submit-accordion" href="#accordion-three">
                    How to begin ???
                  </a>
                </h4>
              </div>
              <div id="accordion-three" class="panel-collapse collapse">
                <div class="panel-body">
                    You will have to submit your ideas till first week of January. You can discuss your ideas with us to
                    know feasibility and how to work on it. We will guide you throughout the contest. <br>
                    If you are not comfortable in programming yet, work on it in Dushehrraa and Winter vacations. Read
                    about the technology taught in workshop and do work on further reading section provided in PPTs. <br>
                    <h5><b>Note: The concept taught in workshop does not depend on programming language, if you have no
                        knowledge of programming you can still excel in the workshop.</b></h5><br>
                    If you have experience in programming sharp your skills by creating simple code script which solves
                    your daily problems you feel like could be coded. Think of an idea to work on for the event and discuss
                    with us and start coding.<br>
                    <b> Feel free to contact us for any related problems you face through e-mail, whatsapp or facebook.</b>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#submit-accordion" href="#accordion-two">
                    What will be tested ??
                  </a>
                </h4>
              </div>
              <div id="accordion-two" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>It is a team contest, hence we will check team collaboration using 'Git'.</li>
                        <li>Programming skills.</li>
                        <li>Use of database or caching.</li>
                        <li>Use of APIs is a bonus.</li>
                        <li>Number of functionality available</li>
                    </ul>
                    <h5> A separate prize for best fist year team* :)</h5>
                    <h4><b> There will be no marking on Graphical User Interface(GUI)</b></h4>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#submit-accordion" href="#accordion-four">
                    Important Links !!!
                  </a>
                </h4>
              </div>
              <div id="accordion-four" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>It is a team contest, hence we will check team collaboration using 'Git'.</li>
                        <li>Programming skills.</li>
                        <li>Use of database or caching.</li>
                        <li>Use of APIs is a bonus.</li>
                        <li>Number of functionality available</li>
                    </ul>
                    <h5> A separate prize for best fist year team* :)</h5>
                    <h4><b> There will be no marking on Graphical User Interface(GUI)</b></h4>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#submit-accordion" href="#accordion-five">
                    Contact Info:
                  </a>
                </h4>
              </div>
              <div id="accordion-five" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>It is a team contest, hence we will check team collaboration using 'Git'.</li>
                        <li>Programming skills.</li>
                        <li>Use of database or caching.</li>
                        <li>Use of APIs is a bonus.</li>
                        <li>Number of functionality available</li>
                    </ul>
                    <h5> A separate prize for best fist year team* :)</h5>
                    <h4><b> There will be no marking on Graphical User Interface(GUI)</b></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
<!-- To be used when online
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script> src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
-->
</body>
</html>